mat-card {
    overflow: hidden;
}

mat-card-content {
    h2:first-child {
        margin-top: 0;
    }
}

mat-card-actions {
    padding: 16px 16px 16px 16px !important;

    button {
        min-width: 150px;
    }
}