html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;

    background-image: url("./assets/images/T2D2Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 768px;
    padding-top: 32px;
}

.matCardWrapper {
    width: 800px;
}

mat-card {
    border-radius: 0 !important;
}

mat-card-header {
    margin: 3px !important;
    padding: 0 !important;
    
    
    background-color: #00B0FF;
    
    mat-card-title {
        width: 100%;
        padding: 12px !important;
        color: #fff;

        h1, h2 {
            margin: 0;

            font-weight: normal;
            font-size: 20px !important;
        }
    }    
}

mat-card-content {
    padding: 16px 16px 0 16px !important;

    mat-form-field {
        width: 100%;
    }

    h2 {
        margin-top: 24px;

        color: #00B0FF;
        font-variant: small-caps;
        font-weight: normal;
        font-size: 18px !important;
    }
}

mat-card-actions {
    padding: 0px 16px 16px 16px !important;

    button {
        width: 30%;
        margin: 0 auto;
        font-size: 14px;
        text-transform: uppercase;
    }
}

button mat-spinner {
    width: 20px !important;
}

mat-form-field mat-error {
    margin-top: -4px;
    margin-right: -16px;

    font-size: 12px;
    text-align: right;
}

.groupControlError {
    margin-top: -24px;
    padding-bottom: 5px;

    font-size: 12px;
    text-align: center;
}